<template lang="pug">
    div.journey-map
        h2.title.mod--journey Patient Journey Map

        .journey-map__line
            img(src="~img/user.png").journey-map__line-userpic
            .journey-map__line-item
                svg.ico-svg.ico-svg__phone
                    use(xlink:href="#phone")
            .journey-map__line-item
                svg.ico-svg.ico-svg__mail
                    use(xlink:href="#mail")

            .journey-map__line-item
                .popper
                    .popper-in
                        .popper__info August 20, 10:20 am
                        .popper__note Lorem ipsum dolor sit amet, consectetur

                svg.ico-svg.ico-svg__message
                    use(xlink:href="#message")

            .journey-map__line-item-end




</template>
<script>

    export default {
        props: {
            video: {
                type: String,
                required: false,
                default: ''
            },
        },
        components: {
        },
        data() {
            return {
                visible: false,
            }
        },
        methods: {
            open() {
            }
        },
        mounted() {
        },
        beforeDestroy() {
        },
    }
</script>
<style lang="scss">
    @import '~mixinsSCSS';

    .title.mod--journey {
        margin-bottom: em(40, 24);
    }

    .journey-map__line {
        display: flex;
        flex-shrink: 0;
        position: relative;
        z-index: 10;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: em(10);
            right: 0;
            height: em(3px);
            background-color: rgba(#d7d7d7, .5);
            z-index: -1;
        }
    }

    .journey-map__line-userpic {
        width: em(54);
        height: em(54);
        vertical-align: top;
        display: inline-block;
        border-radius: 50%;
    }

    .journey-map__line-item {
        margin-left: em(30);
        border-radius: 50%;
        width: em(60px);
        height: em(60px);
        border: em(5px) solid #ffffff;
        background-color: #c3c3c3;
        position: relative;
        @extend %tr-all;
        &:hover {
            background-color: #17b8ea;
        }

        .ico-svg {
            use {
                fill: #fff;
            }
            left: 50%;
            top: 50%;
            position: absolute;
        }
        .ico-svg__phone {
            width: em(20px);
            height: em(20px);
            margin: em(-10 0 0 -10);
        }
        .ico-svg__mail {
            width: em(20px);
            height: em(16px);
            margin: em(-8 0 0 -10);
        }
        .ico-svg__message {
            width: em(20px);
            height: em(20px);
            margin: em(-10 0 0 -10);
        }
    }

    .journey-map__line-item-end {
        width: em(54px);
        height: em(54px);
        border: 2px solid #d7d7d7;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
    }

    .popper {
        display: none;
    }

</style>
