<template lang="pug">
    div.make-appointment
        h2.title.mod--appointment Make Appointment
        
        .make-appointment__line-select
            .make-appointment__line-select-item
                .make-appointment__line-select-note Department
                multiselect(
                v-model="departmentSelect",
                :options="dropdowns.Department",
                @input="",
                :searchable="false",
                :allowEmpty="false",
                :showLabels="false",
                :placeholder="dropdowns.Department[0]"
                ).ui-multiselect.ui-multiselect--border

            .make-appointment__line-select-item
                .make-appointment__line-select-note Facility
                multiselect(
                v-model="facilitySelect",
                :options="dropdowns.Facility",
                @input="",
                :searchable="false",
                :allowEmpty="false",
                :showLabels="false",
                :placeholder="dropdowns.Facility[0]"
                ).ui-multiselect.ui-multiselect--border
            .make-appointment__line-select-item
                .make-appointment__line-select-note Provider
                multiselect(
                v-model="providerSelect",
                :options="dropdowns.Provider",
                @input="",
                :searchable="false",
                :allowEmpty="false",
                :showLabels="false",
                :placeholder="dropdowns.Provider[0]"
                ).ui-multiselect.ui-multiselect--border
            .make-appointment__line-select-item
                .make-appointment__line-select-note Physician
                multiselect(
                v-model="physicianSelect",
                :options="dropdowns.Physician",
                @input="",
                :searchable="false",
                :allowEmpty="false",
                :showLabels="false",
                :placeholder="dropdowns.Physician[0]"
                ).ui-multiselect.ui-multiselect--border
            .make-appointment__line-select-item
                .make-appointment__line-select-note Date Range
                .make-appointment__line-calendar-l
                    .make-appointment__line-calendar(@click="showCalendar=!showCalendar")
                        svg.ico-svg.ico-svg__down
                            use(xlink:href="#down")
                        svg.ico-svg.ico-svg__calendar
                            use(xlink:href="#calendar")
                        .make-appointment__line-calendar-note October 20,  2017
                    calendarPopup(:show="showCalendar")
        transition(name="fade")
            div(v-if="formElementChecked")
                .make-appointment__date-selected Friday - October 20, 2017
                form(action="#3")
                    fieldset.form__fieldset
                        legend.hide Book table
                        table.make-appointment__table
                            tr
                                th
                                    .ui-checkbox
                                        input#checkbox-all(name="checkbox-all" type="checkbox" ).ui-checkbox__input
                                        label.ui-checkbox__label(for='checkbox-all')
                                th TIME SLOTS
                                th NAME
                                th.g-align-center FACILITY
                                th.g-align-center PROVIDER
                                th.g-align-center PHYSICIAN
                                th.g-align-center STATUS
                                th.g-align-center ACTION
                            tr(v-for="(item, index) in existingApointmentSlots", :class="{'state--hold': item.Status === 'On Hold' }").make-appointment__table-tr
                                td
                                    .ui-checkbox
                                        input(:name="'checkbox'+index", type="checkbox", :id="'checkbox-' +index").ui-checkbox__input
                                        label.ui-checkbox__label(:for="'checkbox-'+index")
                                td.make-appointment__table-time {{item.StartTime | moment("HH:mm")}} - {{item.EndTime | moment("HH:mm A")}}
                                td {{item.Name}}
                                td.g-align-center {{item.Facility}}
                                td.g-align-center {{item.Provider}}
                                td.g-align-center {{item.Physician}}
                                td.make-appointment__table-status.g-align-center {{item.Status}}
                                td.g-align-center.make-appointment__table-action(v-if="item.Status === 'On Hold'")
                                    a(href="#3", @click.prevent="").ui-btn.ui-btn--skin-default.ui-btn--theme-disable-border.mod--block update
                                td.g-align-center.make-appointment__table-action(v-else)
                                    a(href="#3", @click.prevent="showModal(index)").ui-btn.ui-btn--skin-default.ui-btn--theme-primary-border.mod--block book now


        modal(ref="modalbook")
            .modal__content

                .modal__content-row
                    .modal__content-col

                        .modal-appointment__title
                            .title.mod--modal-appointment Book Now

                            .modal-appointment__info
                                svg.ico-svg.ico-svg__calendar
                                    use(xlink:href="#calendar")
                                | {{existingApointmentSlots[activeBookItem].StartTime |  moment("MMM DD, YYYY") }} | {{existingApointmentSlots[activeBookItem].StartTime |  moment("HH:mm") }} - {{existingApointmentSlots[activeBookItem].EndTime |  moment("HH:mm A") }}

                            .modal-appointment__info
                                svg.ico-svg.ico-svg__location
                                    use(xlink:href="#location")
                                | Schedule appointment with Dr. Steve Clinic Name

                            .modal-appointment__info
                                .modal-appointment__lang-ico
                                    svg.ico-svg.ico-svg__lang
                                        use(xlink:href="#lang")
                                .modal-appointment__lang-main
                                    .modal-appointment__lang-title Language Interpreter Required
                                    .modal-appointment__lang-toggle(@click="disableSelectLang=!disableSelectLang", :class="{'state--active': !disableSelectLang}")

                                .modal-appointment__info-lang
                                    multiselect(
                                    v-model="langSelected",
                                    :options="bookNowData.InterpreterLanguages",
                                    @input="",
                                    :searchable="false",
                                    :allowEmpty="false",
                                    :showLabels="false",
                                    :disabled="disableSelectLang",
                                    placeholder="Select Language"
                                    ).ui-multiselect.ui-multiselect--default

                    .modal__content-col
                        .modal-appointment__map
                            gmap-map(
                            :center="{lat: 32.9448268, lng: -96.64587949999998}",
                            :zoom="14",
                            style="width: 100%; height: 100px"
                            )
                                gmap-marker(
                                :key="1",
                                :position="{lat: 32.9448268, lng: -96.64587949999998}",
                                )

                .modal-appointment__reason
                    | Reason for visit

                .modal-appointment__templates-messages
                    .modal-appointment__templates-checkbox
                        .ui-checkbox
                            input#checkbox-sms(name="checkbox-sms" type="checkbox" v-model="showSmsTemplate").ui-checkbox__input
                            label.ui-checkbox__label(for='checkbox-sms') Sent Text Confirmation
                    transition(name="fade")
                        textarea(v-if="showSmsTemplate").ui-textarea.ui-textarea--skin-default.ui-textarea--theme-default.mod--sms
                            | {{bookNowData.SmsConfirmTemplate}}

                .modal-appointment__templates-messages

                    .modal-appointment__templates-checkbox
                        .ui-checkbox
                            input#checkbox-email(name="checkbox-email" type="checkbox" v-model="showEmailTemplate").ui-checkbox__input
                            label.ui-checkbox__label(for='checkbox-email') Sent Email Confirmation
                    transition(name="fade")
                        textarea(v-if="showEmailTemplate").ui-textarea.ui-textarea--skin-default.ui-textarea--theme-default
                            | {{bookNowData.EmailConfirmTemplate}}


                .modal-appointment__remind
                    .ui-checkbox
                        input#checkbox-smsremind(name="checkbox-smsremind" type="checkbox" v-model="showSmsRemind").ui-checkbox__input
                        label.ui-checkbox__label(for='checkbox-smsremind') Send SMS reminder
                    transition(name="fade")
                        .modal-appointment__remind-days(v-if="showSmsRemind")
                            input(type="text", value="2").ui-input.ui-input--skin-default.ui-input--theme-default
                            | days before appointment.
                .modal-appointment__row
                    a(href="#3", @click="$refs.modalbook.close()").ui-btn.ui-btn--skin-default.ui-btn--theme-primary-border CANCEL
                    a(href="#3", @click="bookModal").ui-btn.ui-btn--skin-default.ui-btn--theme-primary book



</template>
<script>

    import Multiselect from 'vue-multiselect';
    import calendarPopup from "../calendar-popup/calendar-popup.vue";

    import modal from "../modal-component/modal.vue";

    import Vue from 'vue';
    import * as VueGoogleMaps from 'vue2-google-maps';
    Vue.use(VueGoogleMaps, {
        load: {
            key: 'AIzaSyBvWE_sIwKbWkiuJQOf8gSk9qzpO96fhfY',
            libraries: 'places', // This is required if you use the Autocomplete plugin
        }
    });


    export default {
        props: ['dropdowns','existing-apointment-slots','book-now-data'],
        components: {
            calendarPopup,
            Multiselect,
            modal
        },
        data() {
            return {
                showCalendar: false,
                departmentSelect: '',
                facilitySelect: '',
                providerSelect: '',
                physicianSelect: '',

                langSelected: '',
                disableSelectLang: true,
                activeBookItem: 0,

                showSmsTemplate: false,
                showEmailTemplate: false,
                showSmsRemind: false,

                calendarClick: false

            }
        },
        methods: {
            showModal(index) {
                this.activeBookItem = index;
                this.$refs.modalbook.open();
            },

            bookModal(){
                let vm = this;

                let currentTime = vm.$moment(vm.existingApointmentSlots[vm.activeBookItem].StartTime);
                let time = currentTime.format("HH:mm:ss");

                vm.$root._data.Patients[vm.$root.activePacient].PastAppointments.push({
                    Date: vm.existingApointmentSlots[vm.activeBookItem].StartTime,
                    Time: time,
                    Department: vm.existingApointmentSlots[vm.activeBookItem].Facility,
                    Provider: vm.existingApointmentSlots[vm.activeBookItem].Provider,
                    VisitType: 'Office Visit',
                    VisitReason: 'No Comments'
                });

                vm.$refs.modalbook.close();
            }
        },
        created(){
            let vm = this;
            vm.departmentSelect = vm.dropdowns.Department[0];
            vm.facilitySelect = vm.dropdowns.Facility[0];
            vm.providerSelect = vm.dropdowns.Provider[0];
            vm.physicianSelect = vm.dropdowns.Physician[0];
        },
        watch: {
            disableSelectLang: function (val) {
                if(val) {
                    this.langSelected = '';
                }
            }
        },
        mounted() {
            let vm = this;
            vm.$refs.modalbook.$on('close', function () {

                vm.$root.currentShowSubBox = null;
                vm.langSelected = '';
                vm.disableSelectLang = true;
                vm.activeBookItem = 0;
                vm.showSmsTemplate = false;
                vm.showEmailTemplate = false;
                vm.showSmsRemind = false;
            })
        },
        computed:{
            formElementChecked(){
                let vm = this;

//                let x = vm.departmentSelect.indexOf('...')<0?0:1
//                    + vm.facilitySelect.indexOf('...')<0?0:1
//                    + vm.providerSelect.indexOf('...')<0?0:1
//                    + vm.physicianSelect.indexOf('...')<0?0:1;
//                console.log(vm.departmentSelect.indexOf('...')<0?0:1
//                + vm.facilitySelect.indexOf('...')<0?0:1);
                if(
                    vm.departmentSelect.indexOf('...')<0
                    &&
                    vm.facilitySelect.indexOf('...')<0
                    &&
                    vm.providerSelect.indexOf('...')<0
                    &&
                    vm.physicianSelect.indexOf('...')<0
                    &&
                    vm.calendarClick
                ) {
                    return true;
                } else {
                    return false;
                }

            }
        },
        beforeDestroy() {
        },
    }
</script>
<style lang="scss">
    @import '~mixinsSCSS';

    .title.mod--modal-appointment {
        margin-bottom: em(24,24);
    }

    .modal-appointment__remind {
        display: flex;
        min-height: em(30);
        align-items: center;
    }
    .modal-appointment__remind-days {
        .ui-input {
            width: em(50, 14);
            text-align: center;
            margin: 0 em(20, 14);
        }
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .modal-appointment__templates-checkbox {
        margin-bottom: em(24);
    }
    .modal-appointment__templates-messages {
        margin-bottom: em(24);
    }
    .ui-textarea.mod--sms {
        height: em(80, 14);
        min-height: em(80, 14);
    }
    .modal-appointment__reason {
        margin-top: em(20);
        margin-bottom: em(24);
    }
    .modal__content-row {
        lost-flex-container: row;
    }
    .modal__content-col {
        lost-column: 1/2 2 em(100px);
    }

    .title.mod--appointment {
        margin-bottom: em(45, 24);
    }
    .make-appointment__line-select {
        lost-flex-container: row;
        margin-bottom: em(30);

    }
    .make-appointment__line-select-item {
        lost-column: 1/3 3 em(25px);
        margin-bottom: em(20);
        @include res(hd) {
            lost-column: 1/5 5 em(25px);
        }
    }
    .make-appointment__line-select-note {
        opacity: 0.5;
        color: rgba(#202020, .5);
        font-size: em(14px);
        font-weight: 400;
        margin-bottom: em(8,14);
    }
    .make-appointment__line-calendar-l {
        position: relative;

        .calendar-popup {
            position: absolute;
            z-index: 2000;
            right: 0;
            top: em(40);
        }
    }
    .make-appointment__line-calendar {
        padding: em(8px 0 0 44);
        position: relative;
        border: 1px solid #e2e2e2;
        border-radius: em(4);
        height: em(40);
        .ico-svg__calendar {
            position: absolute;
            width: em(18px);
            height: em(20px);
            left: em(12);
            top: em(8);
            opacity: .3;
            use {
                fill: #000;
            }
        }
        .ico-svg__down {
            position: absolute;
            width: em(12px);
            height: em(8px);
            right: em(12);
            top: em(16);
            opacity: .3;
            use {
                fill: #000;
            }
        }
    }
    .make-appointment__table {
        width: 100%;
        border-spacing: 0;
    }
    .make-appointment__table-time {
        text-transform: uppercase;
    }
    .make-appointment__table-status {
        .state--hold & {
            color: #fb693c;
        }
    }
    .make-appointment__table-tr {
        td {
            border-bottom: 2px solid transparent;
            @extend %breakwords;
            padding: em(24 18);
        }
        
        &.state--hold {
            td {
               background-color: #f9f9f9;
            }
        }
    }
    .make-appointment__table th {

        .ui-checkbox {
            font-size: em(16, 12);
        }
        color: rgba(#1f1f1f, .5);
        font-size: em(12px);
        text-transform: uppercase;
        letter-spacing: em(1.2px, 12);
        padding: em(10 18 30 18, 12);

        &:nth-child(2), &:nth-child(3) {
            text-align: left;
        }
    }
    .make-appointment__date-selected {
        font-size: em(18px);
        margin-bottom: em(40,18);
        padding-left: em(18,18);
    }
    .make-appointment__table-action {
        width: em(210);
    }
    .modal__content {
        padding: em(40 70);
    }

    .modal-appointment__lang-main {
        display: flex;
        justify-content: space-between;
    }
    .modal-appointment__lang-toggle {
        margin-top: em(4);
        width: em(36px);
        height: em(10px);
        background-color: rgba(#ccc, .6);
        border-radius: em(100);
        position: relative;
        cursor: pointer;
        &.state--active {
            background-color: rgba(#74ccef, .5);
            &:before {
                left: calc(100% - 1em);
                background-color: #74ccef;
                box-shadow: 0 em(3px) em(5px) rgba(0, 0, 0, 0.1), 0 0 0 em(6) rgba(#74ccef, .3);
            }
        }
        &:before {
            @extend %tr-all;
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            border-radius: 50%;
            width: em(16px);
            height: em(16px);
            margin-top: em(-8);
            box-shadow: 0 em(3px) em(5px) rgba(0, 0, 0, 0.1), 0 0 0 em(6) rgba(#c4c5cb, .3);
            background-color: #c4c5cb;
        }
        &:hover {
            &:before {
                background-color: darken(#74ccef, 20%);
            }
        }
    }

    .modal-appointment__lang-ico {
        position: absolute;
        left: 0;
        top: 0;
        .ico-svg__lang {
            width: em(23px);
            height: em(20px);

            use {
                fill: #c3c3c3;
            }
        }
    }

    .modal-appointment__info {
        position: relative;
        padding-left: em(40);
        margin-bottom: em(25);
        .ico-svg {
            position: absolute;
            left: 0;
            top: 0;
            use {
                fill: #c3c3c3;
            }
        }
        .ico-svg__calendar {
            width: em(18px);
            height: em(20px);
        }
        .ico-svg__location {
            width: em(14px);
            height: em(20px);
        }
    }

    .modal-appointment__info-lang {
        margin-top: em(16);
        display: inline-block;
        vertical-align: top;
        min-width: em(200);
    }


    .modal-appointment__row {
        text-align: right;
        margin-top: em(60px);

        .ui-btn {
            margin-left: em(20);
            min-width: em(160);
        }
    }

</style>
