@import "variable";
@import "common/mixins/mixin";
@import "common/normalized";
@import "common/common";
@import "typograph";
@import "ui/ui";

//***************************************
/* Base  */
/***********************************************/
.l-body {
  font-family: $fontBody;
  color: $bodyColor;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.6rem;

  @include res(xxl) {
    font-size: 1.6rem;
  }
}

.l-html, .l-body {
  height: 100%;
  position: relative;
}

.l-page {
  min-width: 1280px;
}

.layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 5em);
}
.layout__sidebar {
  width: em(280);
  min-width: em(280);
  display: flex;
  flex-flow: column;
  position: relative;
  background-color: #f9f9f9;
}
.layout__sidebar-scrolling {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
}

.layout__content {
  flex-grow: 1;
  position: relative;
}
.layout__content-scrolling {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  padding: em(40 60);
}

//***************************************
/* Partials  */
/***********************************************/
@import "../vendor/stf-select.scss";
@import "../vendor/Multiselect.scss";
@import "../components/header/header";
@import "../components/sidebar/sidebar";
@import "../components/content/content";

