<template lang="pug">
    .appointment
        .appointment__top
            .appointment__top-filter
                svg.ico-svg.ico-svg__filter-results-button
                    use(xlink:href="#filter-results-button")
                span All Appointment
            .appointment__top-data
                svg.ico-svg.ico-svg__calendar
                    use(xlink:href="#calendar")
                span August 10  -  August 16
        table.appointment__table
            tr
                th Date
                th Department
                th Appt. Time
                th Provider
                th Visit Type
                th Reason for Visit
                th Actions
            tr(v-for="item in patients.PastAppointments")
                td {{item.Date | moment("MMM DD, YYYY")}}
                td {{item.Department}}
                td {{ [ item.Time, "HH:mm:ss" ]  | moment("h:mm a") }}
                td {{ item.Provider }}
                td {{ item.VisitType }}
                td {{ item.VisitReason }}
                td a




</template>
<script>
    export default {
        props: ['patients'],
        components: {},
        data() {
            return {
                visible: false,
            }
        },
        methods: {
            open() {}
        },
        mounted() {},
        beforeDestroy() {},
    }
</script>
<style lang="scss">
    @import '~mixinsSCSS';

    .appointment {
        margin-bottom: em(80);
    }

    .appointment__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: em(60);
    }

    .appointment__top-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        .ico-svg__filter-results-button {
            margin-right: em(20);
            width: em(18px);
            height: em(12px);
            use {
                fill: #000;
            }
        }
    }

    .appointment__top-data {
        display: flex;
        justify-content: center;
        align-items: center;
        .ico-svg__calendar {
            margin-right: em(20);
            width: em(18px);
            height: em(20px);
            use {
                fill: #000;
            }
        }
    }

    .appointment__table {
        width: 100%;
        border-spacing: 0;

        td, th {
            padding: em(14 8);
            text-align: left;
        }
        th {
            border-bottom: 1px solid #ebebeb;
        }
    }

</style>
