//- Default variables
- var path = '';
- var layout_class = '';
block var

doctype html
html.l-html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="dns-prefetch" href="//fonts.googleapis.com")

        //- favicon set
        link(rel="icon", type="image/png", href="favicons/favicon-16x16.png", sizes="16x16")
        link(rel="icon", type="image/png", href="favicons/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="favicons/favicon-96x96.png", sizes="96x96")
        link(rel="apple-touch-icon", href="favicons/older-iPhone.png")
        link(rel="apple-touch-icon", href="favicons/iPhone-6-Plus.png", sizes="180x180")
        link(rel="apple-touch-icon", href="favicons/iPad-Retina.png", sizes="152x152")
        link(rel="apple-touch-icon", href="favicons/iPad-Pro.png", sizes="167x167")
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700", rel="stylesheet")
        link(href="spark-widget/widget-space/main.css", rel="stylesheet")   

        //-Space  widget
        script(src="spark-widget/bundle.js")

        block title
            title NO TITLE!!!
    body(class="l-body " + layout_class)
        // page
        .l-page#app
            block content
        // End page
