<template lang="pug">
    .modal(v-show="is_open")
        transition(name="fade")
            .modal__overlay(v-show="is_open")
        transition(name="fade")
            .modal__wrapper(v-if="visible", @click="_onOverlayClick")
                .modal__box(v-if="video")
                    .modal__box-close(@click="close")
                        svg.ico-svg.ico-svg__close
                            use(xlink:href="#close")
                    .modal__box-iframe
                        iframe(:src="video", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

                .modal__box(v-else)
                    .modal__box-close(@click="close")
                        svg.ico-svg.ico-svg__close
                            use(xlink:href="#close")
                    slot
</template>

<script>

    export default {
        props: {
            video: {
                type: String,
                required: false,
                default: ''
            },
        },
        data() {
            return {
                visible: false,
                is_open: false,
            }
        },

        methods: {
            open(url) {
                this.is_open = true;
                this._lockHtml();
                setTimeout(() => {
                    this.visible = true;
                }, 30);
                this.$emit('open');

                if(url) {
                    this.$root.modalRedirect = url;
                } else {
                    this.$root.modalRedirect = 'http://todaysconference.com/attendee-registration/';
                }

            },

            close() {
                this.visible = false;
                this._unlockHtml();
                setTimeout(() => {
                    this.is_open = false;
                }, 300);
                this.$emit('close');
            },

            _lockHtml() {
                let htmlEl = document.documentElement;
                htmlEl.classList.add('state--modal-show');
            },

            _unlockHtml() {
                let htmlEl = document.documentElement;
                htmlEl.classList.remove('state--modal-show');
            },

            // event on click overlay - close modal
            _onOverlayClick(event) {
                if (event.target.contains(document.querySelector('.modal__box')) && event.target !== document.querySelector('.modal__box')) {
                    this.close();
                }
            },
            // close modal on ESC
            _onDocumentKeyup() {
                if (event.keyCode == 27) {
                    this.close();
                }
            }
        },

        mounted() {
            document.addEventListener('keyup', this._onDocumentKeyup);
        },
        beforeDestroy() {
            document.removeEventListener('keyup', this._onDocumentKeyup)
        },
        components: {}

    }
</script>

<style lang="scss">
    @import '~mixinsSCSS';
    html.state--modal-show {
        height: 100%;
        overflow: hidden;
    }

    /*html.state--modal-show > body {*/
        /*overflow: hidden;*/
        /*height: auto;*/
    /*}*/

    .modal__overlay {
        position: fixed;
        z-index: 99999;
        top: -500rem;
        right: -500rem;
        bottom: -500rem;
        left: -500rem;
        background: rgba(#000, .5);
    }

    .modal__wrapper {
        white-space: nowrap;
        position: fixed;
        z-index: 100000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        text-align: center;
        -webkit-overflow-scrolling: touch;
        padding: em(60 10 10);
        @include res(lg) {
            padding: em(10);
        }

        &:after {
            display: inline-block;
            height: 100%;
            margin-left: -.05em;
            content: "";
            vertical-align: middle;
        }
    }

    .modal__box {
        white-space: normal;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
        background-color: #f7f7f7;
        width: 100%;
        max-width: 980px;
        border-radius: 0;
        box-shadow: inset 0 -0.1rem 0 #dbdbdb;
        text-align: left;
    }

    .modal__box-close {
        &:after {
            position: absolute;
            z-index: -1;
            background-color: #fff;
            display: block;
            top: -1rem;
            left: -1rem;
            bottom: -1rem;
            right: -1rem;
            @extend %tr-all;
        }
        cursor: pointer;
        display: block;
        position: absolute;
        right: em(-10);
        top: -4rem;
        z-index: 20;
        width: 2rem;
        height: 2rem;
        @include link-out(1);
        @include res(lg) {
            right: em(24);
            top: em(24);
        }
        &:hover {
            use {
                fill: #000;
            }
        }
        use {
            @extend %tr-all;
            fill: #333;
        }
        .ico-svg__close {
            width: em(14);
            height: em(14);
        }
    }

    .modal__box-iframe {
        position: relative;
        padding-top: 56%;
        background-color: #333;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

</style>
