<template lang="pug">
    aside.sidebar(v-if='pacients')
        .sidebar__title Patient Information
        .l-sidebar__userpic
            .sidebar__userpic
                img.sidebar__userpic-image(src='~img/user.png')
                a(href="#3", @click.prevent="$root.currentShowSubBox = 'patient-info'").sidebar__userpic-info
                    svg.ico-svg.ico-svg__info
                        use(xlink:href="#info")
        .sidebar__note-userpic Num. of Matches (<b>{{sizePacients}}</b>)
        .l-sidebar__section
            .sidebar__section
                .sidebar__section--note Patient Name

                //- select(v-model="currentPacientName")
                    option(v-for="item in pacients", :value="item.Name") {{item.Name}}
                multiselect(
                    v-model="currentPacientName",
                    :options="namesPacient",
                    @input="getCurrentIndexPacient",
                    :searchable="false",
                    :allowEmpty="false",
                    :showLabels="false"
                 ).ui-multiselect.ui-multiselect--default

            .sidebar__section
                .sidebar__section--note Date of Birth
                .sidebar__section--info {{ pacients[currentPacient].DateOfBirth | moment("MMM DD, YYYY")}}
            .sidebar__section
                .sidebar__section--note SSN
                .sidebar__section--info {{ pacients[currentPacient].SSN}}
            .sidebar__section
                .sidebar__section--note Phone Number
                .sidebar__section--info {{ pacients[currentPacient].PhoneNumber}}
            .sidebar__section
                .sidebar__section--note {{ pacients[currentPacient].PrimaryCareProvider.Name}}
                .sidebar__section--info {{ pacients[currentPacient].PrimaryCareProvider.Phone}}
            .sidebar__section
                .sidebar__section--note Address
                .sidebar__section--info
                    | {{pacients[currentPacient].Address.Line1}}, {{pacients[currentPacient].Address.Line2}}

            //- show  TreatmentTeam
            .sidebar__section(v-if="pacients[currentPacient].TreatmentTeam.length")
                .sidebar__section--note Treatment Team
                div(v-if="pacients[currentPacient].TreatmentTeam.lenght >1")
                    multiselect(
                        v-model="currentPacientTeam",
                        :options="pacients",
                        label="Name",
                        @input="getCurrentIndexPacient",
                    )
                div(v-else)
                    .sidebar__section--info-select
                        | {{ pacients[currentPacient].TreatmentTeam[0].Name}}
                    .sidebar__section--info
                        | {{ pacients[currentPacient].TreatmentTeam[0].PhoneNumber}}

            //- show  Provider
            .sidebar__section(v-if="pacients[currentPacient].Provider.length")
                .sidebar__section--note Provider
                div(v-if="pacients[currentPacient].TreatmentTeam.lenght >1")
                    multiselect(
                    v-model="currentPacientTeam",
                    :options="pacients",
                    label="Name",
                    @input="getCurrentIndexPacient",
                    )
                div(v-else)
                    .sidebar__section--info-select
                        | {{ pacients[currentPacient].Provider[0].Name}}
                    .sidebar__section--info
                        | {{ pacients[currentPacient].Provider[0].PhoneNumber}}

        .sidebar__success
            a(href="#3").ui-btn.ui-btn--skin-default.ui-btn--theme-primary.mod--block  Screen pop
    // End
</template>
<script>
//    import { StfSelect, StfSelectOption } from "stf-vue-select";

    import Multiselect from 'vue-multiselect';

    export default {
        props: ['pacients', 'active'],
        components: {
            Multiselect,
        },
        data() {
            return {
                currentPacient: 0,
                currentPacientName: '',
                visible: false,
            }
        },
        methods: {
            getCurrentIndexPacient(){
                let vm = this;
                console.log(vm.currentPacientName);
                vm.pacients.forEach((item, i) => {
                    if(item.Name === vm.currentPacientName) {
                        vm.$root.activePacient = i;
                        vm.currentPacient = i;
                    }
                });
            }
        },
        created() {
            this.currentPacientName = this.pacients[0].Name;
        },
        mounted() {
            let vm = this;
            vm.getCurrentIndexPacient();
        },
        beforeDestroy() {

        },
        computed: {
            // get only
            sizePacients: function () {
                return this.pacients.length
            },
            namesPacient: function () {
                let vm = this;
                let array = [];
                vm.pacients.forEach((item, i) => {
                    array.push(item.Name);
                });
                return array;
            }

        },
        watch: {
            'currentPacientName': function (val) {
                this.getCurrentIndexPacient();
            }
        }
    }
</script>
<style lang="scss">
    @import '~mixinsSCSS';

</style>
