extends layout/_default

block title
    title Home page

block content
    include ../components/header/header
    div#huddle-room-mount
    div.layout
        div.layout__sidebar
            div.layout__sidebar-scrolling
                 sidebar-pacient(:pacients="$root._data.Patients", :active="activePacient")
        div.layout__content
            .layout__content-scrolling
                transition(name="fade", mode='out-in')

                    //-show scheduling
                    .content(v-if="$root.currentShowBox ==='scheduling' && !currentShowSubBox", key="scheduling")
                        .content__top-line
                            h1.title Scheduling
                            a(href="#3", @click.prevent="$root.currentShowSubBox = 'make-appointment'").content__top-action
                                svg.ico-svg.ico-svg__plus-round
                                    use(xlink:href="#plus-round")
                        .content__box
                            appointment(:patients="$root._data.Patients[$root.activePacient]")
                            journey-map

                    //-show case-managment
                    .content(v-if="$root.currentShowBox ==='case-managment' && !currentShowSubBox", key="case-managment")
                        .content__top-line
                            h1.title Case Managment
                        .content__box
                            c-managment
                            c-managment-incidents
                            c-managment-incident


                    //-show case-managment
                    .content(v-if="$root.currentShowSubBox ==='patient-info'", key="patient-info")
                        .content__top-line
                            h1.title Patient Information
                            a(href="#3", @click.prevent="$root.currentShowSubBox = null").content__top-action
                                svg.ico-svg.ico-svg__close
                                    use(xlink:href="#close")
                        .content__box
                            patient-info(:info="$root._data.Patients[$root.activePacient]")
                            pharmacy(:info="$root._data.Patients[$root.activePacient]")
                            journey-map

                    //-show case-managment
                        Make Appointment
                    .content(v-if="$root.currentShowSubBox ==='make-appointment'", key="make-appointment")
                        .content__top-line.mod--appointment
                            a(href="#3", @click.prevent="$root.currentShowSubBox = null").content__top-appointment-close
                                svg.ico-svg.ico-svg__close
                                    use(xlink:href="#close")
                        .content__box
                            insurance-verification
                            make-appointment(
                            :dropdowns="$root._data.MakeAppointmentDropDownOptions",
                            :existing-apointment-slots="$root._data.ExistingAppointmentSlots",
                            :book-now-data="$root._data.BookNowData"
                            )





                                

